* {
    box-sizing: border-box;
    margin: 0;
}



/* sidestillet navigationsmenu*/


.splash_button_section {
    width: 100vw;
    position: fixed;
    z-index: 10;
    pointer-events: none;
}

.splash_buttons {
    margin-top: 20vh;
    height: 500px;
    display: grid;
    grid-template-areas: "left right1""left none""left right2";
    justify-content: flex-end;
    pointer-events: none;

}

.splash_buttons div {
    color: #fff;
    height: 200px;
    width: 35px;
    padding-right: .5rem;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-writing-mode: vertical-rl;
    text-align: -webkit-center
}

.book {
    grid-area: right1;
    background-color: #f07958;
    font-family: "abolition";
    letter-spacing: 3px;
    pointer-events: visible;
    cursor: pointer;
}

.become {
    grid-area: right2;
    background-color: #f0bd57;
    font-family: "abolition";
    letter-spacing: 2px;
    pointer-events: visible;
    cursor: pointer;

}

@media (min-width: 1024px) {
    .splash_buttons {
        height: 600px;
    }

    .splash_buttons div {

        height: 250px;
        width: 50px;
        padding-right: 1rem;



    }
}




/**/

header {
    /*    background-color: #fff;*/
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100vw;
}

/*main {
    max-width: 1200px;
    margin: 0 auto;
}*/

h1,
h2,
h3,
p {
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
}

.valgt {
    color: red;
}

/********** Global menu **********/
#menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    margin: 10px;
    width: 150px;
    height: auto;
    cursor: pointer;
}

.nav_links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 7vh;
    background-color: #17253e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    overflow: hidden;
    padding-top: 20px;
}

.nav_links a {
    font-family: proximo-nova, sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.dropdown {
    text-align: center;
}

.dropdown_arrow {
    font-size: .6em;
}

.dropdown_content {
    display: none;
}

.dropdown_content a {
    display: block;
    text-align: start;
    padding-left: 45%;
}

.dropdown:hover .dropdown_content {
    display: block;
    background-color: rgba(23, 37, 62, .5);
}

.burger {
    display: block;
    cursor: pointer;
    padding: 5px;
}

.burger div {
    width: 23px;
    height: 2px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.5s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

.nav_active {
    transform: translateX(0%);
}

.scrolling_active {
    animation-name: scrolling_active;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes scrolling_active {
    0% {
        background-color: rgba(23, 37, 62, 0);
    }

    100% {
        background-color: rgba(23, 37, 62, 1);
    }
}

/********** Splash sektioner **********/
#splash_singleview {
    width: 100vw;
    height: 50vh;
    background-size: cover;
}

/********** rejser.html **********/


/********** Media Queries **********/
/********** For tablet **********/
@media (min-width: 768px) {}

/********** For desktop **********/
@media (min-width: 1024px) {

    /********** Global menu **********/
    .nav_links {
        background-color: transparent;
        transform: translateX(0);
        flex-direction: row;
        align-items: flex-start;
        height: auto;
        width: auto;
        padding-top: 0;
        margin-right: 10px;
    }

    .nav_links a {
        text-align: center;
        width: 130px;
    }

    .dropdown_content a {
        text-align: start;
        padding-left: 10px;
    }

    .burger {
        display: none;
    }
}

/*-------------------------------------FOOTER----------------------------------------*/
.wrapper {
    background: #ffffff;
    overflow: auto;
}

.container {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.footer {
    font-size: 1rem;
    padding: 20px 0;
    line-height: 1.6;
    background-color: #333;
}

.footer__text,
.footer__link,
.footer__title {
    color: #aaaaaa;
    padding: 3px 15px;
    display: block;
}

.footer__hr {
    height: 1px;
    border: none;
    background: #777777;
}

.footer__sections {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.footer__section {
    box-sizing: border-box;
    width: 20%;
    padding: 15px 0;
    flex-shrink: 0;
}

.footer__title {
    font-weight: bold;
    margin-bottom: 10px;
}

.footer__link {
    text-decoration: none;
}

.footer__link:hover {
    color: #cccccc;
    background: rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 768px) {
    .footer__section {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .footer__section {
        width: 100%;
    }
}

.footer_social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 15px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer_social img {
    height: 30px;
    width: auto;
}
