* {
    box-sizing: border-box;
    margin: 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
}

.valgt {
    color: red;
}

/********** Global menu **********/
.nav_links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 7vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    overflow: hidden;
}

.nav_links li {
    list-style: none;
}

.burger {
    display: block;
    cursor: pointer;
}

.burger div {
    width: 23px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.5s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

.nav_active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/********** Media Queries **********/
/********** For tablet **********/
@media (min-width: 768px) {}

/********** For desktop **********/
@media (min-width: 1024px) {}
