* {
    box-sizing: border-box;
    margin: 0;
}

img {
    width: 100%;
}

.inactive {
    background-color: inherit;
}

.buttons_categories button {

    /*    color: blue;*/
}

.valgt {
    color: red;
}
