 header {
     background-color: white;
     z-index: 10;
 }

 /*---------------------------------------------------------------------*/


 /*---------------------------------------------------------------------*/
 .blue_back {
     background-color: #17253E;
 }

 .white_font {
     color: white;

 }

 .elev.orange_font {
     color: #F0795B;
     text-transform: uppercase;
     font-size: 1.5rem;
 }

 /*---------------------------------------------------------------------*/


 /*---------------------------------------------------------------------*/
 /*knapper*/

 .wp_png_button {
     width: 4rem;
 }

 .svg_knap {
     width: 4rem;
 }

 .txt_knap {
     border-bottom: 1px solid black;
 }

 .svg_knap:hover {
     color: orange;
 }

 .txt_knap:hover {
     border-bottom: 1px solid #F0795B;
     color: orange;
 }


 /*---------------------------------------------------------------------*/
 /*Splash h1*/

 #splash h1 {
     font-size: 4rem;
     text-align: center;
     text-transform: uppercase;
     color: white;
     padding-top: 20vh;
 }

 /*font størrelser*/
 h1 {
     letter-spacing: 8px;
 }

 h2 {
     font-size: 1.4rem;
     letter-spacing: 5px;
 }

 h3 {
     font-size: 1.2rem;
     letter-spacing: 3px;
 }

 h3,
 h2,
 h1 {
     font-family: "abolition";

 }

 p {
     font-family: "proxima-nova";
 }

 @media (min-width: 768px) {}

 /********** For desktop **********/
 @media (min-width: 1024px) {
     .quote p {
         font-size: 1.5rem;

     }

     .quote h3 {
         font-size: 2rem;
     }

     h2 {
         font-size: 3rem;


     }
 }



 /*---------------------------------------------------------------------*/
 /* Dette er css'en til knapperne i højre side af skærmen */
 /*
        .splash_button_section {
            width: 100vw;
            position: fixed;
            z-index: 10;
        }

        .splash_buttons {
            margin-top: 20vh;
            height: 600px;
            display: grid;
            grid-template-areas: "left right1""left none""left right2";
            justify-content: flex-end;

        }

        .splash_buttons div {
            color: #fff;
            height: 250px;
            width: 50px;
            padding-right: 1rem;
            border: none;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            -webkit-writing-mode: vertical-rl;
            text-align: -webkit-center
        }

        .book {
            grid-area: right1;
            background-color: #f07958;


        }

        .become {
            grid-area: right2;
            background-color: #f0bd57;

        }

*/
 /*---------------------------------------------------------------------*/
